<tr id='<%=@beerspot.id%>'>
    <td><%= @beerspot.name %></td>
    
    <td style ="text-align: center">><%= @beerspot.qualification %></td>
        
    <td><%= link_to 'Show', @beerspot %></td>
    
</tr>