html{
margin:0px;
padding: 0;
box-sizing: border-box;
height:100%;
background-color: #363636 ;

}

.card h3,h5{
     font-family: 'Delius Swash Caps', cursive;
}
.card-text{
     font-family: 'Delius Swash Caps', cursive;
}


.listBS{
    overflow:scroll;
     height:300px;
     width:320px;
     color: black;
     margin-bottom: 10px;
     font-size: 10px;
     font-family: 'Delius Swash Caps', cursive;

}

.card:hover{
    cursor: pointer;
}
.card{
    color: #363636;
    
}

.card-body{
    background-color:#ffc107;
}



body{
    
    overflow: scroll;
}


.sidebar{
    position: absolute;
    width: 350px;
    height: 90%;
    background: #333;
    color: white;
    outline: 1px solid;
    outline: #eee;
    padding: 10px;
    overflow:scroll;
    
}

.sidebar h2{
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}



.contenido {
    width: 100%;
    height: 85%;
    position: fixed;
    background: #eee;
    padding: 0;
    transition-property: all;
    transition-duration: 0.3s;
    

}

.menu-bar{
    cursor: pointer;
    
}
#imgBs{
    top: 50px;
    z-index: 1;
    position: absolute;
}


.abrir{
    transform: translateX(350px);
}

.container h3{
    font-size: 10px;
    font-family: 'Delius Swash Caps', cursive;
}


.containerShow{
    background: #363636;
    margin:0;
    padding: 3rem 7rem;
    color: #eee
}

.comentariosBS{
    padding: 1rem 3rem;;
    font-family: 'Life Savers', cursive;

}

.containerDevise{
    margin: 1rem;
    padding: 3rem;
}

#sticky-footer {
  position: relative;  
  flex-shrink: none;
}


#page-content {
  flex: 1 0 auto;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
.card-img-s {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.actions{
    text-align: center;
}

